@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
.Player {
    width: 530px;
    height: 116px;
    display: grid;
    grid-template-columns: 115px 300px auto;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}